.u-section-1 {
    background-image: url("../../Images/dd.jpg");
    background-position: 50% 50%;
    min-height: 691px;
}

.u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 1140px) / 2) + 1140px);
    margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
    min-height: 691px;
    background-image: url("../../Images/gfdfdfdf.jpg");
    background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
    min-height: 691px;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px 50px;
}

.u-section-1 .u-line-1 {
    width: 111px;
    height: 6px;
    transform-origin: left center 0px;
    margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1;
    margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
    font-weight: 600;
    font-size: 1rem;
    font-style: normal;
    line-height: 2;
    margin: 20px 1px 0;
}

.u-section-1 .u-btn-1 {
    letter-spacing: 3px;
    font-size: 1.25rem;
    border-style: none;
    text-transform: uppercase;
    background-image: none;
    font-weight: 400;
    margin: 18px auto 0 0;
    padding: 10px 62px 10px 61px;
}

@media (max-width: 1199px) {
    .u-section-1 {
        min-height: 482px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: calc(((100% - 940px) / 2) + 940px);
    }

    .u-section-1 .u-image-1 {
        min-height: 570px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 570px;
    }

    .u-section-1 .u-text-1 {
        font-size: 4.5rem;
    }

    .u-section-1 .u-text-2 {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (max-width: 991px) {
    .u-section-1 {
        min-height: 502px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: calc(((100% - 720px) / 2) + 720px);
    }

    .u-section-1 .u-image-1 {
        min-height: 502px;
        background-position: 69.11% 100%;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 502px;
    }

    .u-section-1 .u-container-layout-2 {
        padding: 36px 20px;
    }

    .u-section-1 .u-text-1 {
        font-size: 3.75rem;
    }
}

@media (max-width: 767px) {
    .u-section-1 {
        min-height: 1010px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: calc(((100% - 540px) / 2) + 540px);
    }

    .u-section-1 .u-image-1 {
        min-height: 350px;
        background-position: 13.1% 50%;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 660px;
    }

    .u-section-1 .u-container-layout-2 {
        padding: 60px 60px 60px 50px;
    }

    .u-section-1 .u-text-1 {
        font-size: 6rem;
    }
}

@media (max-width: 575px) {
    .u-section-1 {
        min-height: 771px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: calc(((100% - 340px) / 2) + 340px);
        margin-top: -54px;
        margin-bottom: -54px;
    }

    .u-section-1 .u-image-1 {
        min-height: 220px;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 552px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-top: 55px;
        padding-right: 20px;
        padding-bottom: 30px;
    }

    .u-section-1 .u-text-1 {
        font-size: 4.5rem;
    }
}

.u-section-2 {
    min-height: 826px;
}

.u-section-2 .u-shape-1 {
    height: 254px;
    margin-top: 121px;
    margin-bottom: 0;
}

.u-section-2 .u-shape-2 {
    width: 677px;
    height: 566px;
    background-image: none;
    margin: -180px auto 0 calc(((100% - 1140px) / 2) + 224px);
}

.u-section-2 .u-image-1 {
    width: 675px;
    height: 512px;
    margin: -696px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-2 .u-group-1 {
    min-height: 443px;
    width: 596px;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.15);
    margin: -319px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-2 .u-container-layout-1 {
    padding: 30px 33px;
}

.u-section-2 .u-text-1 {
    font-size: 3rem;
    font-family: Oswald, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    margin: 22px 0 0 27px;
}

.u-section-2 .u-text-2 {
    line-height: 1.8;
    margin: 20px 27px 0;
}

.u-section-2 .u-btn-1 {
    background-image: none;
    border-style: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 400;
    margin: 20px auto 0 27px;
    padding: 18px 54px;
}

@media (max-width: 1199px) {
    .u-section-2 .u-shape-1 {
        margin-top: 60px;
    }

    .u-section-2 .u-shape-2 {
        width: 618px;
        margin-right: calc(((100% - 940px) / 2) + 98px);
        margin-left: auto;
    }

    .u-section-2 .u-image-1 {
        width: 609px;
        height: 462px;
        margin-left: calc(((100% - 940px) / 2));
    }

    .u-section-2 .u-group-1 {
        width: 539px;
        margin-top: -269px;
        margin-right: calc(((100% - 940px) / 2));
        margin-bottom: 64px;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 991px) {
    .u-section-2 {
        min-height: 946px;
    }

    .u-section-2 .u-shape-1 {
        height: 246px;
        margin-top: 186px;
    }

    .u-section-2 .u-shape-2 {
        width: 480px;
        height: 610px;
        margin-top: -160px;
        margin-right: auto;
    }

    .u-section-2 .u-image-1 {
        width: 522px;
        height: 413px;
        margin-top: -816px;
        margin-left: calc(((100% - 720px) / 2));
    }

    .u-section-2 .u-group-1 {
        width: 473px;
        margin-top: -102px;
        margin-right: calc(((100% - 720px) / 2));
        margin-bottom: 115px;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-2 .u-text-1 {
        font-size: 2.75rem;
    }
}

@media (max-width: 767px) {
    .u-section-2 {
        min-height: 983px;
    }

    .u-section-2 .u-shape-1 {
        margin-top: 60px;
    }

    .u-section-2 .u-shape-2 {
        height: 646px;
    }

    .u-section-2 .u-image-1 {
        width: 455px;
        height: 376px;
        margin-top: -852px;
        margin-left: calc(((100% - 540px) / 2));
    }

    .u-section-2 .u-group-1 {
        min-height: 472px;
        width: 393px;
        margin-top: -65px;
        margin-right: calc(((100% - 540px) / 2));
        margin-bottom: 9px;
    }

    .u-section-2 .u-text-1 {
        margin-left: 11px;
        font-size: 2.25rem;
    }

    .u-section-2 .u-text-2 {
        margin-left: 11px;
    }

    .u-section-2 .u-btn-1 {
        margin-left: 11px;
    }
}

@media (max-width: 575px) {
    .u-section-2 {
        min-height: 915px;
    }

    .u-section-2 .u-shape-2 {
        width: 254px;
        height: 589px;
        margin-right: calc(((100% - 340px) / 2));
    }

    .u-section-2 .u-image-1 {
        width: 289px;
        height: 289px;
        margin-top: -795px;
        margin-left: calc(((100% - 340px) / 2));
    }

    .u-section-2 .u-group-1 {
        min-height: 512px;
        width: 288px;
        margin-top: -58px;
        margin-right: auto;
        margin-bottom: -8px;
    }

    .u-section-2 .u-container-layout-1 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-2 .u-text-1 {
        font-size: 1.875rem;
        margin-left: 0;
    }

    .u-section-2 .u-text-2 {
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-2 .u-btn-1 {
        margin-left: 0;
    }
}