._outer-div {
    margin: auto;
    width: 100% !important;

}

._body {
    background: url("../../Images/5590822.jpg");
}

.Booking {
    background: url("../../Images/5590822.jpg");
}

._p {
    padding: 10px;
    text-align: center;
}

.u-section-3 .u-sheet-1 {
    min-height: 521px;
}

.u-section-3 .u-image-1 {
    width: 325px;
    height: 521px;
    margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
    margin: -502px auto 0 49px;
}

.u-section-3 .u-image-2 {
    width: 203px;
    height: 240px;
    margin: 0 auto 0 61px;
}

.u-section-3 .u-text-2 {
    font-style: italic;
    margin: 20px auto 0 91px;
}

.u-section-3 .u-text-3 {
    font-size: 0.875rem;
    font-style: italic;
    margin: 19px 616px 19px 0;
}

@media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
        min-height: 522px;
    }

    .u-section-3 .u-image-1 {
        width: 471px;
        height: 522px;
    }

    .u-section-3 .u-text-1 {
        margin-top: -503px;
    }

    .u-section-3 .u-text-3 {
        margin-right: 607px;
        margin-left: 15px;
    }
}

@media (max-width: 991px) {
    .u-section-3 .u-text-3 {
        margin-right: 402px;
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-text-3 {
        margin-right: 222px;
    }
}

@media (max-width: 575px) {
    .u-section-3 .u-image-1 {
        width: 325px;
    }

    .u-section-3 .u-text-3 {
        margin-right: 22px;
    }
}